body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow: hidden;
    font-size: 1.125rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px;
    background-color: #1f1f1f;
    border-bottom: 1px solid #333333;
}

.navbar .title {
    font-size: 32px;
}

.navbar .sublinks a {
    color: #ffffff;
    margin-left: 18px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    display: flex;
    height: calc(100vh - 64px);
}

.chat-groups {
    width: 28%;
    background-color: #1f1f1f;
    border-right: 1px solid #333;
    overflow-y: auto;
    max-height: calc(100vh - 64px);
}

.group {
    display: block;
    padding: 15px 14px;
    border-bottom: 1px solid #333;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.group-name {
    font-weight: bold;
    padding-left: 16px;
    padding-bottom: 3px;
}

.last-message {
    font-size: 16px;
    color: #888;
    padding-left: 15px;
}

.group:hover {
    background-color: #2c2c2c;
}

.chat-window {
    width: 72%;
    display: flex;
    flex-direction: column;
    background-color: #121212;
}

.placeholder-message {
    font-size: 20px;
    color: #888;
    text-align: center;
    vertical-align: middle;
    font-style: italic;
    margin: auto;
}

.chat-window-navbar {
    background-color: #1f1f1f;
    padding: 12px 22px;
    border-bottom: 1px solid #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-window-navbar .title {
    font-size: 24px;
}

.chat-window-navbar .actions a {
    color: #ffffff;
    margin-left: 18px;
    text-decoration: none;
    font-size: 16px;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 128px - 64px);
}

.message {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}

.message.current-user {
    align-items: flex-end;
}

.message-info {
    font-size: 14px;
    color: #888;
    margin-bottom: 4px;
    width: 100%;
}

.message.current-user .message-info {
    text-align: right;
}

.message .username {
    font-weight: bold;
}

.message .text {
    font-size: 18px;
    padding: 14px 16px;
    border-radius: 10px;
    background-color: #333;
    display: inline-block;
    max-width: 70%;
}

/* New style to adjust margin when message-info is missing */
.message:not(:has(.message-info)) {
    margin-top: -16px;
    margin-bottom: 20px;
     /* Smaller margin for messages without message-info */
}

.message.current-user .text {
    background-color: rgba(0, 128, 0, 0.5);
    text-align: right;
}

.send-message {
    display: flex;
    padding: 12px 25px;
    border-top: 1px solid #333;
}

.send-message input {
    flex-grow: 1;
    padding: 12px;
    border: none;
    border-radius: 7px;
    margin-right: 12px;
    background-color: #333;
    color: #ffffff;
    overflow-y: auto;
    font-size: 17px;
}

.send-message button {
    padding: 12px 25px;
    border: none;
    border-radius: 7px;
    background-color: #1f1f1f;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
}

.messages-loader {
    position: absolute;
    top: 48%;
    right: 35%;
    width: 40px;
    padding: 8px;
    aspect-ratio: 1;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    background: #f1fffd;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: messages-loader 1s infinite linear;
  }
  @keyframes messages-loader {to{transform: rotate(1turn)}}