<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/message.png') }}">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Chat App</title>
        {% endif %}

        

        {% block head %}{% endblock %}

        <style>
            {% block dynamic_css %}
            {% endblock %}
        </style>
    </head>

    <body>
        <div class="navbar">
            {% if current_user.is_authenticated %}
                <div class="title">{{ current_user.display_name }}'s chats</div>
            {% else %}
                <div class="title">Chat App</div>
            {% endif %}
            <div class="sublinks">
                <a href="{{ url_for('about')}}">About</a>
                <a href="{{ url_for('index') }}">Chats</a>
                <a href="{{ url_for('group_invites') }}">Group Invites</a>
                <a href="{{ url_for('create_group') }}">Create Group</a>

                {% if current_user.is_authenticated %} 
                    <a href="{{ url_for('sign_out') }}">Sign Out</a>
                {% else %}
                    <a href="{{ url_for('sign_in') }}">Sign In</a>
                    <a href="{{ url_for('sign_up') }}">Sign Up</a>
                {% endif %}

            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="popup-container">
                <input type="checkbox" id="popup-toggle" class="popup-toggle">
                <div class="popup">
                    <label for="popup-toggle" class="close-button">&#x2715;</label>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>


            
        {% endwith %}
        <div class="container">
            {% block group_list %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>