{% extends "group_list.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat_styles.css') }}">
<script src="{{ url_for('static', filename='js/chat_script.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_user_counts.js') }}"></script>
<script src="{{ url_for('static', filename='js/get_group_id.js') }}"></script>


{% endblock %}

{% block dynamic_css %}
{{ super() }}
#group_{{ group_id }}.group {
background-color: rgb(44,44,44);
}
{% endblock %}

{% block content %}
{{ super() }}

<div class="chat-window">
    <!--<div class="chat-window-navbar">
        <div class="title">{{ group_display_name }}</div>
        <div class="actions">
            <a class="number-online-users">Online Users: {{ number_online_users }}</a><!-Now updated live.->
            <a>Total Users: {{ number_users }}</a>
            <a class="chat-options-link" href="#">Options</a>
        
        </div>
    </div>-->
    <div class="chat-window-navbar">
        <div class="title-container">
            <div class="title">{{ group_display_name }}</div>
            <div class="group-stats">
                <span class="online-users">ONLINE: {{ number_online_users }}</span>
                <span class="total-users">MEMBERS: {{ number_users }}</span>
            </div>
        </div>
        <div class="actions">
            <a class="chat-options-link" href="#">Options</a>
        </div>
    </div>
    
    <div class="messages">
        <!-- E.g. 
        <div class="message">
            <div class="message-info">
                <div class="username">User 1</div>
                <div class="datetime">2021-01-01 12:00:00</div>
            </div>
            <div class="text">Hello, world!</div>
        </div>
        -->
        <div class="loader"></div>
    </div>
    <div class="send-message">
        <input type="text" placeholder="Type your message...">
        <button id="send-message-btn" onclick="send_message()">Send</button>
    </div>
    
    
</div>

{% endblock %}