{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_group_styles.css') }}">
    <script src="{{ url_for('static', filename='js/create_group_script.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="auth-text">
            <h2>Create Group</h2>
            <div class="caption">No friends?</div>
        </div>
     
        <div class="form-contents">
            <div class="form-content-inner">
                <h1>It's worth a try...</h1>
                <h2 class="subheading">Invites to join will be sent to users you add below. You can check the status of these invites in Group Invites -> Outgoing Invitations. <br><br> <i>There is no guarantee anyone will accept.</i></h2>
                <form method="POST">
                    {{ form.csrf_token }}
                    
                    <div class="form-group">
                        <label for="{{ form.group_name.id }}" class="form-label">{{ form.group_name.label.text }}</label>
                        {{ form.group_name(class="form-control", maxlength="50", placeholder="No silly names please") }}
                    </div>

                    <div class="bubble-list-container">
                        <div id="bubbleBox" class="bubble-box"></div>
                        <div class="input-container">
                            <input type="text" id="bubbleInput" placeholder="Enter the username of a user to invite here...    (input will be added above)">
                            <button type="button" id="addBubble">Add</button>
                        </div>
                    </div>
                    
                    {{ form.bubble_list(id="hiddenBubbleList", style="display: none;") }}
                    <button type="submit" class="submit-btn">Create Group</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

