{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/group_list_styles.css') }}">
<script src="{{ url_for('static', filename='js/group_list_script.js') }}"></script>
{% endblock %}


{% block group_list %}
<div class="chat-groups">
    <!-- E.g. 
    <a href="#" class="group">
        <div class="group-name">Group 1</div>
        <div class="last-message">Last message...</div>
    </a>
    -->
    <div class="group-list-loader"></div>

</div>

{% endblock %}

