{% extends "group_list.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
<script>
    // Scroll to the bottom of the chat window
    const messages = document.querySelector('.messages');
    messages.scrollTop = messages.scrollHeight;
</script>
{% endblock %}

{% block content %}
{{ super() }}

<div class="chat-window">
    <div class="placeholder-message">{{ placeholder_message }}</div>
</div>
{% endblock %}
