{% extends "base.html" %}

{% block title %}
<title>Group Invites</title>
{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='invites_styles.css') }}">
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const tabs = document.querySelectorAll('.tab-button');
        const tabContents = document.querySelectorAll('.tab-content');
    
        tabs.forEach(tab => {
            tab.addEventListener('click', async () => {
                const tabId = tab.getAttribute('data-tab');
    
                tabs.forEach(t => t.classList.remove('active'));
                tabContents.forEach(content => content.classList.remove('active'));
    
                tab.classList.add('active');
                document.getElementById(tabId).classList.add('active');
            });
        });

        requestAnimationFrame(update_received_invite_list);
        requestAnimationFrame(update_outgoing_invite_list);
    });

    async function scroll_to_top() {
        const invitations = document.querySelector('.invitations');
        invitations.scrollBottom = invitations.scrollHeight;
    }

    async function accept_invite() {
        // Get the button that triggered the function
        var button = event.target;

        // Get the parent element of the button
        var parent = button.parentElement;

        // Get the parent element of the parent element
        var grandparent = parent.parentElement;

        // Get the data-id attribute of the grandparent element
        var data_id = grandparent.getAttribute('data-id');

        try {
            const response = await fetch(`${window.origin}/accept-invite`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    request_id: data_id,
                })
            });
            
            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status Code: ${response.status}`);
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function reject_invite() {
        // Get the button that triggered the function
        var button = event.target;

        // Get the parent element of the button
        var parent = button.parentElement;

        // Get the parent element of the parent element
        var grandparent = parent.parentElement;

        // Get the data-id attribute of the grandparent element
        var data_id = grandparent.getAttribute('data-id');

        try {
            const response = await fetch(`${window.origin}/reject-invite`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    request_id: data_id,
                })
            });
            
            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status Code: ${response.status}`);
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function cancel_outgoing_invite() {
        // Get the button that triggered the function
        var button = event.target;

        // Get the parent element of the button
        var parent = button.parentElement;

        // Get the parent element of the parent element
        var grandparent = parent.parentElement;

        // Get the data-id attribute of the grandparent element
        var data_id = grandparent.getAttribute('data-id');

        try {
            const response = await fetch(`${window.origin}/cancel-outgoing-invite`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    request_id: data_id,
                })
            });
            
            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status Code: ${response.status}`);
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function update_received_invite_list() {
        try {
            const response = await fetch(`${window.origin}/all-received-group-invites`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
            });
            // no parameters to send in body

            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status Code: ${response.status}`);
            } else {
                const data = await response.json();

                let invitationListHTML = "";
                
                data.forEach(function (invite) {
                    if (invite.status == "pending") {
                        invitationListHTML += `
                        <div class="invitation pending" data-id="${invite.request_id}">
                            <div class="invite-info">
                                <span class="date">${invite.request_date_time}</span>  
                                <span class="invite-text"><span class="highlight">${invite.sender_username}</span> has invited you to join <span class="highlight">${invite.group_name}</span>!</span>
                            </div>
                            <div class="invite-actions">
                                <button class="accept" onclick="accept_invite(event)">Accept</button>
                                <button class="reject" onclick="reject_invite(event)">Reject</button>
                            </div>
                        </div>  
                        `;

                    } else {
                        invitationListHTML += `
                        <div class="invitation past">
                            <div class="invite-info">
                                <span class="date">${invite.request_date_time}</span>  
                                <span class="invite-text">You <span class="highlight">${invite.status}</span> <span class="highlight">${invite.sender_username}</span>'s invitation to join <span class="highlight">${invite.group_name}</span>.</span>
                            </div>
                            <div class="status ${invite.status}">${invite.status.toUpperCase()}</div>
                        </div>
                        `;
                    }
                });

                invitationListHTML = `<div class="invitations">${invitationListHTML}</div>`;
                if (data.length == 0) {
                    invitationListHTML = `<div class="invitations">
                                            <div class="no-invitations">
                                                <p>No invitations yet.</p>
                                            </div>
                                          </div>
                                          `;
                } else if (document.querySelector('#received.tab-content').innerHTML !== invitationListHTML) {
                    document.querySelector('#received.tab-content').innerHTML = invitationListHTML;
                    await scroll_to_top();
                } 
                /*else {
                    document.querySelector('#received.tab-content').innerHTML = invitationListHTML;
                } */

            }

        } catch (error) {
            console.error(error);
        }
        requestAnimationFrame(update_received_invite_list);
    }

    async function update_outgoing_invite_list() {
        try {
            const response = await fetch(`${window.origin}/all-sent-group-invites`, {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
            });
            // no parameters to send in body

            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status Code: ${response.status}`);
            } else {
                const data = await response.json();

                let invitationListHTML = "";
                
                data.forEach(function (invite) {
                    if (invite.status == "pending") {
                        invitationListHTML += `
                        <div class="invitation pending" data-id="${invite.request_id}">
                            <div class="invite-info">
                                <span class="date">${invite.request_date_time}</span>  
                                <span class="invite-text">You invited <span class="highlight">${invite.receiver_username}</span> to join <span class="highlight">${invite.group_name}</span>!</span>
                            </div>
                            <div class="invite-actions">
                                <button class="cancel" onclick="cancel_outgoing_invite()">Cancel</button>
                                <div class="status pending">Pending</div>
                            </div>
                        </div> 
                        `;

                    } else {
                        invitationListHTML += `
                        <div class="invitation past">
                            <div class="invite-info">
                                <span class="date">${invite.request_date_time}</span>  
                                <span class="invite-text"><span class="highlight"> ${invite.receiver_username} ${invite.status}</span> your invitation to join <span class="highlight">${invite.group_name}</span>.</span>
                            </div>
                            <div class="status ${invite.status}">${invite.status.toUpperCase()}</div>
                        </div>
                        `;
                    }
                });

                invitationListHTML = `<div class="invitations">${invitationListHTML}</div>`;
                if (data.length == 0) {
                    invitationListHTML = `<div class="invitations">
                                            <div class="no-invitations">
                                                <p>No invitations yet.</p>
                                            </div>
                                          </div>
                                          `;
                    document.querySelector('#outgoing.tab-content').innerHTML = invitationListHTML;
                } else if (document.querySelector('#outgoing.tab-content').innerHTML !== invitationListHTML) {
                    document.querySelector('#outgoing.tab-content').innerHTML = invitationListHTML;
                    await scroll_to_top();
                } 
                /*else {
                    document.querySelector('#outgoing.tab-content').innerHTML = invitationListHTML;
                } */

            }

        } catch (error) {
            console.error(error);
        }
        requestAnimationFrame(update_outgoing_invite_list);
    }
    

</script>
{% endblock %}

{% block content %}
{{ super() }}

<div class="auth-text">
    <h2>Group Invites</h2>
    <div class="caption">{{ subtitle }}</div>
</div>

<div class="notifications">
    <div class="tabs">
        <button class="tab-button active" data-tab="received">Received Invitations</button>
        <button class="tab-button" data-tab="outgoing">Outgoing Invitations</button>
    </div>
    <div class="tab-content active" id="received">
        <div class="invitations">
            <div class="loader"></div>
            <!--<div class="no-invitations">
                <p>No invitations yet.</p>
            </div>-->
            <!--<div class="invitation pending">
                <div class="invite-info">
                    <span class="date">2023-05-20</span> •
                    <span class="invite-text"><span class="highlight">JohnDoe</span> has invited you to join <span class="highlight">Developers Chat</span>!</span>
                </div>
                <div class="invite-actions">
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                </div>
            </div>
            <div class="invitation pending">
                <div class="invite-info">
                    <span class="date">2023-05-19</span> •
                    <span class="invite-text"><span class="highlight">AliceSmith</span> has invited you to join <span class="highlight">Design Team</span>!</span>
                </div>
                <div class="invite-actions">
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                </div>
            </div>
            <div class="invitation past">
                <div class="invite-info">
                    <span class="date">2023-05-18</span> •
                    <span class="invite-text">You <span class="highlight">accepted</span> <span class="highlight">BobJohnson</span>'s invitation to join <span class="highlight">Marketing Team</span>.</span>
                </div>
                <div class="status accepted">Accepted</div>
            </div>
            <div class="invitation past">
                <div class="invite-info">
                    <span class="date">2023-05-17</span> •
                    <span class="invite-text">You <span class="highlight">rejected</span> <span class="highlight">EvaWilliams</span>'s invitation to join <span class="highlight">Customer Support</span>.</span>
                </div>
                <div class="status rejected">Rejected</div>
            </div>-->
        </div>
    </div>
    <div class="tab-content" id="outgoing">
        <div class="invitations">
            <div class="loader"></div>

            <!--<div class="no-invitations">
                <p>No invitations yet.</p>
            </div>-->
            <!--<div class="invitation pending">
                <div class="invite-info">
                    <span class="date">2023-05-18</span> •
                    <span class="invite-text">You invited <span class="highlight">CharlieGreen</span> to join <span class="highlight">Project X Discussion</span>!</span>
                </div>
                <div class="invite-actions">
                    <button class="cancel">Cancel</button>
                    <div class="status pending">Pending</div>
                </div>
            </div>
            <div class="invitation past">
                <div class="invite-info">
                    <span class="date">2023-05-17</span> •
                    <span class="invite-text"><span class="highlight">DavidBrown</span> <span class="highlight">accepted</span> your invitation to join <span class="highlight">Marketing Team</span>.</span>
                </div>
                <div class="status accepted">Accepted</div>
            </div>
            <div class="invitation past">
                <div class="invite-info">
                    <span class="date">2023-05-16</span> •
                    <span class="invite-text"><span class="highlight">FionaWhite</span> <span class="highlight">rejected</span> your invitation to join <span class="highlight">Customer Support</span>.</span>
                </div>
                <div class="status rejected">Rejected</div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}